.header__lang-link{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    margin: 0px 18px 0px 0px;
    padding: 0;
}
.header__lang-link:last-child{
 margin-right: 0px;
}
@media screen and (max-width: 424px) {
    .header__lang-link{
       font-size: 18px;
    }
} 