.photo-grid{
    max-width: 1184px;
    margin: 92px auto 0px auto;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit, minmax(280px,1fr));
    gap: 16px;
    grid-auto-flow: row;
 }
@media screen and (max-width: 1279px) {
.photo-grid{
    max-width: calc(100% - 48px*2);
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 1023px) {
.photo-grid{
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(2,1fr);
    max-width: calc(100% - 24px*2);
  }
}
@media screen and (max-width: 424px) {
.photo-grid{
    grid-template-columns:1fr;
    max-width: calc(100% - 16px*2);
    margin: 64px auto 0px auto;
  }
}