.place-kosa__paragraph {
    font-size: 18px;
    line-height: 1.5;
    margin: 0px 0px 26px 0px;
    padding: 0;
    font-weight: normal;
}
 .place-kosa__paragraph:last-child{
    margin: 0;
}
@media screen and (max-width: 767px) {
    .place-kosa__paragraph {
        font-size: 16px;
    }
}
@media screen and (max-width: 319px) {
    .place-kosa__paragraph {
        padding: 0 16px;
        margin: 0px 0px 25px 0px;
    }
}