.footer__links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    }
    .footer__links:last-child a{
        padding: 0;
        margin: 0;
        }
    @media screen and (max-width:767px){
        .footer__links {
         margin-bottom: 48px;
            }
    }
    @media screen and (max-width: 424px) {
        .footer__links{
           flex-direction: column;  
        }
        .footer__links li{
          margin:0 0 32px 0;
      }
      .footer__links li:last-child{
        margin:0;
    }
      } 
    @media screen and (max-width: 319px) {
        .footer__links{
           flex-direction: column;        
        }
        .footer__links li{
            margin:0 0 32px 0;
        }
      }  