.intro__text {
    font-size: 16px;
    font-weight: normal;
    padding: 0;
    line-height:163%;
    margin: 0px 0px 34px 0px;
    width: 100%;
    max-width: 690px;
}
@media screen and (max-width: 1023px) {
    .intro__text {
        max-width: 720px;
    }
}