.cover__overlay{
    background-image:url(../../../images/cover-trains.jpg);
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0px;
    /* box-sizing: border-box; */
    background-position: center;
    position: relative;
    z-index: 1;
    color: #fff;
    background-size: cover;
}
.cover__overlay:hover::before{
    opacity: 0.8;
}
.cover__overlay::before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s;
}
@media screen and (max-width:1023px){
.cover__overlay{
    min-height: 480px;
    /* padding: 0 100px; */
}
}
@media screen and (max-width:424px){
        .cover__overlay{
            min-height: 200px;
        }
        }